.about {
  padding-top: 120px;
  padding-bottom: 120px;
  padding-right: 0;
  padding-left: 0;

  @include vp-1023 {
    padding-top: 40px;
    padding-bottom: 80px;
  }

  @include vp-767 {
    padding-top: 0;
    padding-bottom: 80px;
  }
}

.about__description {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 150px;
    height: 320px;
    background-image: url("../img/year.png");
    background-repeat: no-repeat;
    top: 0;
    left: 20px;

    @include retina {
      background-image: url("../img/year@2x.png");
      background-size: cover;
    }

    @include vp-1023 {
      top: 3px;
      left: -3px;
    }

    @include vp-767 {
      display: none;
    }
  }
}

.about__text {
  max-height: 210px;
  overflow: hidden;

  @include vp-1023 {
    max-height: 250px;
  }

  @include vp-767 {
    max-height: 210px;
  }
}

.about__text.is-open {
  @include vp-767 {
    max-height: 100%;
  }
}

.about__more {
  display: none;
}

.about__more.is-open {
  display: block;
}

.about__description h3 {
  margin: 0;
  margin-left: 21.5%;
  margin-bottom: 15px;

  font-family: $ff-roboto-condensed;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;

  color: $color-black-pearl;

  @include vp-1023 {
    margin-bottom: 12px;
    margin-left: 26.5%;
  }

  @include vp-767 {
    margin-left: 0;
    font-size: 28px;
    line-height: 140%;
  }
}

.about__description p {
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: 21.5%;

  line-height: 22px;

  color: $color-black-pearl;

  @include vp-1023 {
    margin-left: 26.5%;
  }

  @include vp-767 {
    margin-left: 0;
    font-size: 14px;
    line-height: 134%;
  }
}

.about__button {
  display: flex;
  justify-content: center;

  min-width: 180px;
  margin-top: 20px;
  margin-left: 21.5%;
  padding: 13px 25px;

  background-color: transparent;
  border: 1px solid $color-deep-sky-blue;
  color: $color-deep-sky-blue;

  @include vp-1023 {
    margin-top: 27px;
    margin-left: 26.5%;
  }

  @include vp-767 {
    margin-top: 10px;
    margin-left: 0;
    min-width: 160px;
    padding: 9px 25px;
  }

  @include hover-focus {
    opacity: 0.8;
  }

  &:active {
    background-color: $color-black-pearl-button;
    opacity: 1;
  }
}
