.coaches__container {
  padding: 57px 105px 93px;
  position: relative;

  @include vp-1199 {
    padding: 48px 100px 102px;
  }

  @include vp-767 {
    padding: 12px 47px 74px;
  }
}

.coaches__wrapper {
  position: relative;
}

.coaches h2 {
  margin: 0;
  margin-bottom: 46px;
  padding: 0;

  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.03em;

  @include vp-1199 {
    margin-bottom: 30px;
    text-align: center;
    font-size: 42px;
    line-height: 50px;
  }

  @include vp-767 {
    margin-bottom: 42px;
    font-size: 32px;
    line-height: 38px;
  }
}

.coaches__wrapper .swiper-wrapper {
  display: flex;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.coaches__item {
  position: relative;
  cursor: pointer;
  aspect-ratio: 260/294;

  @include vp-1199 {
    aspect-ratio: 268/294;
  }

  @include vp-767 {
    aspect-ratio: 226/274;
  }
}

.coaches__item img {
  background-color: $color-quartz;
  display: block;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 260/294;

  @include vp-1199 {
    aspect-ratio: 268/294;
  }

  @include vp-767 {
    aspect-ratio: 226/274;
  }
}

.coaches__item h3 {
  margin: 0;
  padding: 0;

  width: 100%;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);

  font-family: $ff-roboto-condensed;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: $color-default-white;
  text-align: center;
}

.coaches__description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: none;
  width: 100%;
  height: 100%;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 51px;
  background: rgba(16, 38, 84, 0.89);

  @include vp-767 {
    padding-top: 41px;
  }
}

.coaches__item:hover .coaches__description,
.coaches__item:focus .coaches__description,
.coaches__item:focus-visible .coaches__description {
  display: flex;
  z-index: 2;
  overflow-y: auto;
  overflow-x: visible;
}

.coaches__item:hover h3,
.coaches__item:focus h3,
.coaches__item:focus-visible h3 {
  z-index: -2;
}

.coaches__item:hover img,
.coaches__item:focus img,
.coaches__item:focus-visible img {
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.coaches__description h4 {
  margin: 0;
  padding: 0;

  font-family: $ff-roboto-condensed;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: $color-default-white;
  text-align: center;
}

.coaches__description p {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;

  font-family: $ff-roboto-condensed;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #b6bdcc;
  text-align: center;
}

.coaches__description ul {
  margin: 0;
  padding: 0;
  padding-left: 45px;
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 13px;

  @include vp-767 {
    padding-left: 25px;
  }
}

.coaches__description li {
  position: relative;
  font-family: $ff-roboto-condensed;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $color-default-white;

  &::before {
    content: "";
    position: absolute;
    top: 7px;
    left: -16px;
    width: 6px;
    height: 6px;
    background-color: $color-default-white;
    border-radius: 50%;
  }
}

.coaches__button {
  padding: 5px;
  position: absolute;
  width: 46px;
  height: 45px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  fill: none;
  top: 295px;

  &--prev {
    left: 31px;
  }

  &--next {
    right: 31px;
  }

  @include vp-1199 {
    top: 255px;
  }

  @include vp-767 {
    top: 208px;

    &--prev {
      left: 0;
    }

    &--next {
      right: 0;
    }
  }

  &:active {
    opacity: 0.5;
  }
}

.coaches__button svg {
  @include vp-767 {
    width: 20px;
    height: 24px;
  }

  &:hover,
  &:focus-visible {
    transform: scale(1.3);
  }
}
