.main-footer {
  color: $color-default-white;
  background-color: $color-black-russian;
}

.main-footer__inner {
  display: flex;
  justify-content: space-between;
  padding: 44px 102px;
}

.main-footer__navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding-left: 8px;
}

.main-footer__navigation a {
  font-family: $ff-roboto-condensed;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $color-default-white;
}

.main-footer__socials ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 11px;
}

.main-footer__socials a {
  width: 25px;
  height: 25px;
  background-color: $color-default-white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
