.services {
  background-color: $color-black-pearl;
  color: $color-default-white;
}

.services__wrapper {
  max-width: 1240px;
  padding-right: 0;
  padding-left: 8px;
  padding-top: 65px;
  padding-bottom: 140px;

  @include vp-1023 {
    padding-top: 23px;
    padding-bottom: 75px;
  }

  @include vp-767 {
    padding-top: 23px;
    padding-bottom: 85px;
  }
}

.services__wrapper h2 {
  margin: 0;
  margin-bottom: 55px;

  font-family: $ff-roboto-condensed;
  font-size: 36px;
  line-height: 51px;
  font-weight: 400;

  @include vp-1023 {
    margin-bottom: 38px;
    margin-top: 33px;

    font-size: 36px;
    line-height: 51px;
  }

  @include vp-767 {
    margin-bottom: 30px;
    margin-top: 22px;

    font-size: 28px;
    line-height: 140%;
  }
}

.services__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 85px;

  margin: 0;
  padding: 0;

  list-style: none;
  box-sizing: border-box;

  @include vp-1023 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.services__title--tablet {
  display: block;

  @include vp-767 {
    display: none;
  }
}

.services__title--mobile {
  display: none;

  @include vp-767 {
    display: block;
  }
}

.services__item {
  position: relative;

  &:nth-child(3n+1) {
    img {
      bottom: -50px;
      left: -130px;

      @include vp-1023 {
        bottom: 0px;
        left: -225px;
      }

      @include vp-767 {
        bottom: -270px;
        left: -335px;
      }
    }
  }

  &:nth-child(3n+3) {
    img {
      top: auto;
      bottom: -60px;
      left: auto;
      right: -200px;

      @include vp-1023 {
        right: auto;
        left: -110px;
        bottom: -205px;
      }

      @include vp-767 {
        left: auto;
        right: -300px;
        bottom: -170px;
      }
    }
  }

  ::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 0;
    right: 0;

    background-color: $color-deep-sky-blue;
    background-image: url("../img/svg/arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 3px 0 0 0;

    @include vp-767 {
      width: 40px;
      height: 40px;

      background-size: 12%;
    }
  }
}

.services__item img {
  position: absolute;
  width: 1494px;
  height: 818px;
  max-width: none;
  bottom: -20px;
  left: -520px;
  object-fit: cover;
  z-index: -1;
  background-color: $color-black-pearl;

  @include vp-1023 {
    left: auto;
    bottom: -250px;
    right: -150px;
  }

  @include vp-767 {
    bottom: 0;
    right: auto;
    left: -340px;
  }
}

.services__item a {
  color: $color-default-white;
}

.services__item h3 {
  width: 60%;
  margin: 0;
  padding-top: 45px;
  padding-left: 40px;

  font-family: $ff-roboto-condensed;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;

  @include vp-1023 {
    width: 25%;
    padding-top: 35px;
    padding-left: 45px;

    font-size: 20px;
    line-height: 30px;
  }

  @include vp-767 {
    width: 65%;
    padding-top: 26px;
    padding-left: 0;

    font-size: 18px;
    line-height: 30px;
  }
}

.services br {
  display: block;

  @include vp-1023 {
    display: none;
  }

  @include vp-767 {
    display: none;
  }
}

.services__link {
  position: relative;
  z-index: 0;

  display: block;
  height: 100%;
  width: 100%;
  min-height: 650px;
  overflow: hidden;

  cursor: pointer;

  @include vp-1023 {
    min-height: 250px;
  }

  @include vp-767 {
    padding-left: 30px;
    padding-right: 70px;
    min-height: 250px;

    font-size: 18px;
    line-height: 30px;
  }
}
